#**For Loop**
>for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
color = ['Red', 'Green', 'Blue']

for i in color:
  print("Color",i)

Color Red
Color Green
Color Blue

##**Looping Through a String**
> Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
for i in 'Looping':
  print(i)

L
o
o
p
i
n
g

##**The range() Function**
> To loop through a set of code a specified number of times, we can use the **range()** function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

range(5) is not the values of 0 to 5, but the values 0 to 4.

In [ ]:
for i in range(2, 10):
  print(i)

2
3
4
5
6
7
8
9

range(2, 10), which means values from 2 to 10 (but not including 10).

In [ ]:
for i in range(0, 20, 3):
  print(i)

0
3
6
9
12
15
18

specify the increment value by adding a third parameter.

##**FOR NESTED**
> A nested loop is a loop inside a loop.

In [ ]:
for i in range(5): #row
  for j in range(5): #column
    if j<=5:
      print("*", end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(5): #Row
  for j in range(i+1): #Column
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

##**break Statement**
> with the break statement we can stop the loop before it has looped through all the items

In [ ]:
for i in "Data Science":
  if i==" ":
    break #Stop right here
  print(i)

D
a
t
a

##**continue Statement**
> with the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
par = "This is example for Continue Statement"

for i in par:
  if i=="a" or i=="i" or i=="u" or i=="e" or i=="o":
    continue
  print(i, end="")
  #print(i)

Ths s xmpl fr Cntn Sttmnt

##**Else after For**
> usually using for searching data

In [ ]:
#Find First Even Number 

for i in range(1, 7):
  if i % 2 == 0:
    print("{} is Even". format(i))
    break #Stop if True
  else:
    print("{} is Odd". format(i))

1 is Odd
2 is Even