# List Comprehension

List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of groceries, you want a new list, containing only the groceries with the letter "e" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [16]:
groceries = ["broom", "soap", "rice", "bread", "cereal", "fork", "spoon", "eyeliner"]
newlist = []

for x in groceries:
  if "e" in x:
    newlist.append(x)

print(newlist)

['rice', 'bread', 'cereal', 'eyeliner']

Or in the list a number,  you want a new list, that can perform mathematical operations on it

In [17]:
num1 = range(1, 20)
num2 = range(1, 20)

newlist = []

for x in num1:
  for y in num2:
    if x//y == 4 and x%y == 2:
      newlist.append([x, y])
print(newlist)

[[14, 3], [18, 4]]

* With list comprehension you can do all that with only one line of code:

# The Syntax

newlist = [expression for item in iterable if condition == True]

The return value is a new list, leaving the old list unchanged.

In [18]:
groceries = ["broom", "soap", "rice", "bread", "cereal", "fork", "spoon", "eyeliner"]
newlist = [x for x in groceries if "e" in x]
print(newlist)

['rice', 'bread', 'cereal', 'eyeliner']

In [19]:
num1 = range(1, 20)
num2 = range(1, 20)

newlist = [x for x in num1 for y in num2 if x//y == 4 and x%y == 2]
print(newlist)

[14, 18]

# Another example

- Underscores include valid variable names
- In general "_" is used as a throwaway variable (unimportant variable)

In [20]:
num=range(1,8,2)
newlist = [[_**0.5, _**2] for _ in num]
print(newlist)

[[1.0, 1], [1.7320508075688772, 9], [2.23606797749979, 25], [2.6457513110645907, 49]]

#**For Loop**
>for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [21]:
color = ['Red', 'Green', 'Blue']

for i in color:
  print("Color",i)

Color Red
Color Green
Color Blue

##**Looping Through a String**
> Even strings are iterable objects, they contain a sequence of characters:

In [22]:
for i in 'Looping':
  print(i)

L
o
o
p
i
n
g

##**The range() Function**
> To loop through a set of code a specified number of times, we can use the **range()** function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [23]:
for i in range(5):
  print(i)

0
1
2
3
4

\range(5) is not the values of 0 to 5, but the values 0 to 4.

In [24]:
for i in range(2, 10):
  print(i)

2
3
4
5
6
7
8
9

range(2, 10), which means values from 2 to 10 (but not including 10).

In [25]:
for i in range(0, 20, 3):
  print(i)

0
3
6
9
12
15
18

specify the increment value by adding a third parameter.

##**FOR NESTED**
> A nested loop is a loop inside a loop.

In [26]:
for i in range(5): #row
  for j in range(5): #column
    if j<=5:
      print("*", end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [27]:
for i in range(5): #Row
  for j in range(i+1): #Column
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

##**break Statement**
> with the break statement we can stop the loop before it has looped through all the items

In [28]:
for i in "Data Science":
  if i==" ":
    break #Stop right here
  print(i)

D
a
t
a

##**continue Statement**
> with the continue statement we can stop the current iteration of the loop, and continue with the next:

In [29]:
par = "This is example for Continue Statement"

for i in par:
  if i=="a" or i=="i" or i=="u" or i=="e" or i=="o":
    continue
  print(i, end="")
  #print(i)

Ths s xmpl fr Cntn Sttmnt

##**Else after For**
> usually using for searching data

In [30]:
#Find First Even Number 

for i in range(1, 7):
  if i % 2 == 0:
    print("{} is Even". format(i))
    break #Stop if True
  else:
    print("{} is Odd". format(i))

1 is Odd
2 is Even

# Break Statement
* The break statement in Python terminates the current loop and resumes execution at the next statement
* The break statement can be used in both while and for loops

In [ ]:
for i in "Learning Python from Youtube" :
  if i == "f" :
    break
  print(i)

L
e
a
r
n
i
n
g

P
y
t
h
o
n

# Continue Statement
* The continue statement in Python returns the control to the beginning of the while loop
* The continue statement rejects all the remaining statements in the current iteration of the loop and moves the control back to the top of the loop
* The continue statement can be used in both while and for loops

In [ ]:
for i in "Learning" :
  if i == "n" :
    continue
  print(i)

L
e
a
r
i
g

# Pass Statement
* The pass statement is used as a placeholder for future code.
* When the pass statement is executed, nothing happens, but the avoid getting an error when empty code is not allowed.
* Pass statement is used when it's not yet implemented, and keeps the program running.

In [33]:
n = ""

while(n != "z"):
  n = (input("Peroleh : "))
  print("Mendapat angka {} ".format(int(n))) #should numeric

Peroleh : 2
Mendapat angka 2
Peroleh : z

ValueError: ignored

In [35]:
import sys #error checking (try and except)

n = ''

while(n != "exit"):
  try:
    n = input("Enter : ")
    #n = int(input("Enter : "))
    print("Angka {} ".format(int(n))) #want integer
  except:
    if n=="exit":
      pass #will stop
    else:
      print("Error {} ".format(sys.exc_info()[0]))

Enter : a
Error <class 'ValueError'>
Enter : 2
Angka 2
Enter : exit

# While

# Else after While
* Else is only executed when a while condition becomes false

In [36]:
a = 10

while(a<=15):
  print(a)
  a+=1
else :
  print("loop selesai")

10
11
12
13
14
15
loop selesai

# **Syntax Errors**

---

Syntax errors or often called parsing errors.

Syntax errors occur when Python can't understand what you're commanding. Whereas exceptions (errors while operating) occur when Python understands what you are commanding but gets problems following what you command (occurs when the application is already running).

**Example of a syntax error :**

*   Incorrect placement of indents (spaces at the beginning).

In [ ]:
print('Hello World')
 File "<stdin>", line 1
  print('Hello World')

*   After the condition of the while command requires a colon (:).

In [ ]:
while True print('Hello world')
 File "<stdin>", line 1
  while True print('Hello world')

In a syntax error, the line where the error was detected is reappeared, followed by an arrow indicating the earliest point of the error.

The two examples above have different groups (types) of errors, the first is Indentation Error and the second is Syntax Error. Then after mentioning it, there is a detailed error message (description), such as an unexpected indent.

If using script call mode, the script file name and line number where the error occurred will be returned. As for the interactive mode in the two examples above, the filename appears as "stdin". Here's an example of calling a script named example_error_syntax.py where an error occurs on line 2.

In [ ]:
python syntax_error.py
 File "syntax error.py", line 2
  if True print('Syntax is wrong')

Another Example :

In [ ]:
print"Hello World

# Exceptions
if a statement or expression is syntactically correct, it may cause an error when an attempt is made to execute it. Errors detected during execution are called exceptions and are not unconditionally fatal

In [37]:
10 * (1/0)

ZeroDivisionError: ignored

In [38]:
4 + spam*3

NameError: ignored

In [39]:
'2' + 2

TypeError: ignored

The last line of the error message indicates what happened. Exceptions come in different types, and the type is printed as part of the message: the types in the example are ZeroDivisionError, NameError and TypeError

In [40]:
# import module sys to get the type of exception
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Oops!", sys.exc_info()[0], "occurred.")
        print("Next entry.")
        print()
print("The reciprocal of", entry, "is", r)

The entry is a
Oops! <class 'ValueError'> occurred.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occurred.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5

In [41]:
# import module sys to get the type of exception
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except Exception as e:
        print("Oops!", e.__class__, "occurred.")
        print("Next entry.")
        print()
print("The reciprocal of", entry, "is", r)

The entry is a
Oops! <class 'ValueError'> occurred.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occurred.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5

In this program, we loop through the values of the randomList list. As previously mentioned, the portion that can cause an exception is placed inside the try block.
If no exception occurs, the except block is skipped and normal flow continues(for last value). But if any exception occurs, it is caught by the except block (first and second values).

Since every exception in Python inherits from the base Exception class, we can also perform the above task in the following way: